body {
    background-color: lightblue;
}

.question {
    color: black;
    font-family: verdana;
    font-weight: bold;
    padding: 10px;
}

.answers {
    color: black;
    font-family: verdana;
    margin-bottom: 20px;
}

.answers label {
    display: block;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
